@import "../../styles/variables";

.app-item-ul {
  margin: 0;
  list-style: none;
  padding: 0;

  .app-item-li {
    display: flex;
    background-color: $color-2;
    padding: 16px 0;
    border-bottom: 1px solid $color-1;

    .app-item-image {
      margin: 0 16px;
      width: 180px;
      height: 180px;
      border-radius: $border-radius-small;
    }

    .app-item-info-container {
      margin-top: 16px;
      width: 100%;

      .app-item-price-container {
        display: flex;

        >label {
          font-size: $font-size-24;
          position: relative;
          color: $color-4;

          >span {
            font-size: $font-size-16;
            position: absolute;
            top: 0.2em;
          }
        }

        .app-item-icon-free-shipping {
          margin-left: 30px;
          height: 20px;
        }

        .app-item-seller-address {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          width: 100%;
          margin-right: 60px;
          font-size: $font-size-12;
          color: $color-3;
        }
      }

      .app-item-text-container {
        margin-top: 32px;
        max-width: 60%;

        .app-item-text {
          font-size: $font-size-18;
          font-weight: $font-weight-300;
          line-height: 1.3;
          color: $color-4;
          text-decoration: none;
        }
      }
    }
  }
}