@import "../../styles/variables";

.app-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-header;
  height: 60px;

  .app-header {
    display: flex;
    align-items: center;
    padding: 0 90px;
    width: 100%;
    max-width: $max-width-container;

    .app-header-logo {
      height: 30px;
    }

    .app-header-form {
      padding: 0 20px;
      width: 100%;

      & form {
        display: flex;
        justify-content: center;

        >input {
          color: $color-4;
          font-size: $font-size-18;
          border: none;
          text-decoration: none;
          outline: none;
          padding: 8px 0 8px 13px;
          width: 92%;

          ::placeholder {
            color: #999999
          }
        }

        >button {
          background-color: $color-1;
          border: none;
          text-decoration: none;
          cursor: pointer;
          width: 7%;

          img {
            height: 17px;
          }
        }
      }
    }
  }
}