// Colors
$color-1: #eeeeee;
$color-2: #fff;
$color-3: #666666;
$color-4: #333333;
$color-5: #3483FA;
$color-header: #FFE600;

// Font sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-46: 46px;

// Font weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-bold: bold;

// Border radius
$border-radius-small: 4px;

// Padding
$padding-container-large: 0 90px 90px;

// Width
$max-width-container: 1000px;