@import "../../styles/variables";

.app-results-container {
  min-height: calc(100vh - 60px);
  overflow-y: auto;
  padding: $padding-container-large;
  width: 100%;
  max-width: $max-width-container;
}